body{
    background-color: #e8f1fb;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.card-header-meow{
    display: flex;
    justify-content: flex-end;
}
.card-d{
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    padding: 0;
}

.tab-pane{
    background-color: #fff;
    
}

.nav-tab{
    display: flex;
    background-color: #e8f1fb;
}
.nav-link :active{
    border: none;
}
.nav-link:hover{
    background-color: #a8c4e5;
}

.containner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b3b5b7;
    padding-top: 10px;
    margin-top: 15px;
}


.print-btn {
    background-color: #d80c21;
    color: #fff;
    border: none;
    padding: 6px;
    border-radius: 4px;
    height: fit-content;
}

#reportTabs{
    display: flex;
    margin: 0;
}
.nav-link.active {
    background-color: #007bff; 
    color: white; 
}
.nav-link {
    transition: background-color 0.3s ease;
}



@media print {
    #sidebar {
        display: none !important;
    }

    .content {
        width: 100% !important;
        margin: 0;
    }

    .no-print, .navbar, .footer {
        display: none !important;
    }

    body {
        font-size: small;
    }
}